@media screen and (min-width:768px){

    #members{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }

}


@media screen and (min-width: 768px) {

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        border-top: 4px solid var(--secondary-color);
    }

    .contact,
    .social,
    .development {
        flex: 1;
    }

    .social {
        text-align: center;
    }

    .development {
        text-align: right;
    }

}


@media screen and (min-width: 768px) {
.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 2rem 0;
}
}

.events,
.weather,
.spotlights {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    background: white;
}
@media (min-width: 768px) {
.join-container{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:2rem;
    align-items:start;
}
}