

@media screen and (min-width: 768px) {

    /* Header */

    header {
        padding: 1rem 2rem;
    }

    .logo-container img {
        width: 60px;
    }

/***** Hide the hamburger ****/
     #menu {
        display: none;
    }

    /***** Horizontal Navigation ****/

     nav {
        display: block;
        background: var(--primary-color);
    }
      nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav li {
        flex: 1;
    }

    nav a {
        padding: 1rem;
    }


 /* Main */

    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }

    h1 {
        margin-bottom: 2rem;
    }

      .courses {
        grid-column: 1 / 3;
    }

    /* Foto */

    .card img {
        width: 80%;
        max-width: 300px;
        margin: 1.5rem auto;
    }

    /* Botones */

    .filter-buttons {
        max-width: 500px;
        margin: auto;
    }

    /* Footer */

    footer {
        padding: 2rem;
    }

}